* {
	box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*Navbar*/ 
.navbar .navbar-brand {
	margin-left: 50px;
}

.navbar .collapse .navbar-nav {
	margin-left: auto;
	margin-right: auto;
}

.line {
	width: 30px;
	height: 3px;
	margin: 5px 0;
	background: #070629;
}

.side-bar {
	margin-right: 40px;
	border-left: 4px solid grey;
}

.side-bar i {
	font-size: 35px;
	margin-right: 20px;
	margin-left: 15px;
}

/*Image Display*/
.display {
	position: relative;
}

.display .description {
	position: absolute;
	width: 450px;
	color: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media (max-width: 450px) {
	.display .description {
		width: 200px;
	}
	.display .description h1 {
		font-size: 2em;
	}
	.display .description p {
		font-size: 13px;
	}
}

.display .description h1 {
	font-size: 4em;
}

.display .description p {
	font-size: 1em;
}

/*message*/
.message {
    background: #E5E5E5
}

.objective div span {
    color: #E44848;
}

.objective div p {
    color: grey;
}

.message .line {
    width: 80px;
    margin: 0 auto;
    margin-top: -30px;
    border-bottom: 5px solid #E44848;
    border-radius: 7px;
}

/*On Mission*/
.card .card-body h5 {
	color: #E44848;
}

.card .card-body p {
	color: grey;
}

.chart {
	position: relative;
}

.chart > span {
	position: absolute;
	top: -10px;
	right: 25px;
}

.chart progress {
	height: 7px;
	background-color: #54D948;
}

.fund .target span {
	color: grey;
}

/* Footer */
footer {
	background: #070629;
	padding: 5rem 5rem 2rem 5rem;
	color: #fff;
	font-size: 13px;
}

.footer h3 {
	font-size: 1.2rem;
	margin-bottom: 15px;
}

.footer ul {
	list-style-type: none;
}

footer ul li {
    margin: 10px 0;
    margin-left: -38px;
}

.footer form input {
	width: 100%;
	background: #ffffff;
	border-radius: 5px;
	border: none;
	padding: 10px 5px 10px 20px;
}

.footer-input {
	position: relative;
	margin-bottom: 15px;
}

.footer-button {
	background: #54D948;
	border-radius: 5px;
    width: 32%;
    position: absolute;
	height: 40px;
	border: none;
	color: #fff;
	right: 10px;
}

.footer-button:hover {
	opacity: 0.8;
}

.footer .social {
    font-size: 30px;
    justify-content: space-around;
    margin-top: 100px;
}
